.verde-mentaclaro{
    color: #b4d8db;
}
.rosa-pastel{
    color: #f0b1d0;
}
.azul-lavnada{
    color: #96a6d1;
}
.beige-claro{
    color: #d1c6b5;
}
.azul-violeta{
    color: #7694c9;
}
.blacno-gris{
    color: #e6e1e5;
}