:root {
  /* Colores principales */
  --verde-menta: #b4d8db;
  --rosa-pastel: #f0b1d0;
  --azul-lavanda: #96a6d1;
  --beige-claro: #d1c6b5;
  --azul-violeta: #7694c9;
  --blanco-gris: #e6e1e5;
  
  /* Colores de uso específico */
  --color-primario: var(--azul-violeta);
  --color-secundario: var(--verde-menta);
  --color-acento: var(--rosa-pastel);
  --color-neutro: var(--beige-claro);
  --color-fondo: var(--blanco-gris);
  --color-texto: #333333;
}

/* Clases de utilidad para colores */
.verde-mentaclaro {
    color: var(--verde-menta);
}
.rosa-pastel {
    color: var(--rosa-pastel);
}
.azul-lavanda {
    color: var(--azul-lavanda);
}
.beige-claro {
    color: var(--beige-claro);
}
.azul-violeta {
    color: var(--azul-violeta);
}
.blanco-gris {
    color: var(--blanco-gris);
}

/* Clases de fondo */
.bg-verde-menta { background-color: var(--verde-menta); }
.bg-rosa-pastel { background-color: var(--rosa-pastel); }
.bg-azul-lavanda { background-color: var(--azul-lavanda); }
.bg-beige-claro { background-color: var(--beige-claro); }
.bg-azul-violeta { background-color: var(--azul-violeta); }
.bg-blanco-gris { background-color: var(--blanco-gris); }